.background {
  width: 100%;
  height: 40.25vw;
  background-image: url(https://fanart.tv/api/download.php?type=download&image=39534&section=2);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-origin: content-box;
  box-shadow: inset 0px -10vw 20vw 1vw #141414;
  z-index: 0;
}
.background img {
  max-width: 100%;
  max-height: 100vh;
  box-shadow: inset 0px -17vw 30vw 1vw #141414;
}
.background + #album-section {
  background: transparent;
}
#album-section {
  margin-top: -35vmin;
}
.background + #album-section .bookmark {
  border-color: rgba(255, 255, 255, 0.2);
}
.background + #album-section .bookmark svg {
  fill: #fff;
}
.background + #album-section .album-tracks {
  background: rgba(255, 255, 255, 0.1);
  border: none;
}

#album-section {
  background: #fafafa;
  padding: 20px 56px;
  color: var(--darker);
  color: rgba(255, 255, 255, 0.8);
}
#album-section .album-info:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
#album-section .album-art {
  float: left;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
}
#album-section .album-art * {
  border-radius: 3px;
}
#album-section .album-art img {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 0px;
  box-shadow: 0 5px 60px -3px rgba(0, 0, 0, 0.18);
}
#album-section .play {
  display: block;
	text-align: center;
	font-size: 20px;
	border-color: transparent;
	letter-spacing: 2px;
  color: white;
	text-decoration: none;
	font-weight: bold;
  background-color: #fd5927;
  width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
  text-transform: uppercase;
  flex: 1 0 50%;
}

#album-section .play:hover {
	background-color: #fd774e;
}

#album-section .album-details h1 {
	margin: 15px 0px 20px 0px;
  font-size: 50px;
  font-weight: 500;
  word-wrap: break-word;
}

#album-section .album-details span:first-child {
	padding-bottom: 10px;
}

#album-section .album-details span {
	display: block;
	font-size: 20px;
}

#album-section .album-details p {
  margin-top: 15px;
	font-size: 16px;
	text-align: justify;
}
#album-section .album-tracks {
  background: #f8f8f8;
  border: 1px solid #efefef;
  margin-top: 20px;
}

#album-section .album-tracks ol li:hover {
	background-color: #404040;
}



#album-section .album-tracks ol {
  list-style-type: none;
  padding: 20px 36px;
  font-weight: 500;
}
#album-section .album-tracks ol li {
  counter-increment: number;
  display: flex;
	flex-wrap: initial;
	justify-content: space-between;
	align-items: center;
	align-content: initial;
  height: 45px;
}

.album-track-link {
	color: inherit;
	text-decoration: none;
}

.album-track-link:hover {
	text-decoration: underline;
}
.album-track-name:not(:last-child) {
  margin-right: 2em;
}

.album-track-name {
	padding-left: 10px;
}

.album-track-length {
	padding-right: 10px;
}

.album-track-name:first-child {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.album-track-name:first-child:before {
  content: counter(number);
  margin-right: 2em;
  display: inline-block;
  text-align: end;
  width: 20px;
}

.actions {
  display: flex;
	flex-wrap: initial;
	justify-content: initial;
	align-items: initial;
	align-content: initial;
	flex: 1 1 100%;
}

/*======================Media styling===========================*/
@media (max-width: 700px) {
  .album-track-name:not(:last-child) {
    margin-right: 1em;
  }
}

@media (max-width: 800px) {
  #album-section {
    margin: 100px 36px 36px 36px;
  }
}

@media (max-width: 700px) {
  #album-section .album-art {
    width: 100%;
  }
  #album-section .album-art img {
    width: 80%;
    max-width: 100%;
    margin: -150px auto 10px auto;
    display: block;
  }
  #album-section .album-details {
    float: left;
    max-width: 100%;
  }
}

@media (max-width: 550px) {
  #album-section {
    margin: 100px 20px 20px 20px;
    padding: 20px 16px;
  }
  #album-section .album-tracks ol {
    padding: 16px;
  }
}
